h1,h2,h3,h4,h5,h6 {
  font-family: "Playfair Display", "Georgia", "Times New Roman", sans-serif;
}

.news-header {
  text-align: center;
  font-size: 3rem;
  margin: 20px;
}

h1.title {

  width: 22%;
  margin: 0 auto;
  font-family: 'Berkshire Swash', cursive;
  border-bottom: 2px solid #e5e5e5;
  transition: all 0.4s;
}

h1.title:hover {
  transform: scale(1.2);
  transition: all 0.6s;
}

.content {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
  font-weight:600;
}

.news-item {
  margin-bottom: 4rem;
}

.news-item-title {
  margin-bottom: .25rem;
  font-size: 2.15rem;
}

.news-item-byline {
  margin-bottom: 1.25rem;
  color: #727272;
}

.news-footer {
  margin-top:2.5rem;
  padding: 2.5rem;
  color: #727272;
  background-color: #f9f9f9;
  border-top: solid 0.05rem #e5e5e5;
}

.date-select {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

button {
  width: 150px;
  margin: 20px;
}

/* img.ad1 {
  height: 200px;
  width: 150px;
  object-fit: cover;
} */
